.button{
    background: var(--lightBlueAccent);
    color: white;
    padding: 1vh 1vw;
    outline: none;
    border-radius: 10px;
    border:none;
    font-size: 1.25em;
    width: auto;
}
.button:hover{
    background: var(--lightBlueAccentHover);
    cursor: pointer;


}