/*global stuff*/
:root {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  color: white;
  --LowerOpacityWhite: rgba(255, 255, 255, 0.233);
  --higherOpacityWhite: rgba(255, 255, 255, 0.466);
  --mainGradient: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  --peachGradient: linear-gradient(to left, #f2709c, #ff9472);
  --lightBlueAccent: #00a8be;
  --lightBlueAccentHover: rgba(0, 158, 179, 0.842);
  --midAccent: #0082be;
  --midAccentHover: #0080bbdf;
  --boxShadow: 2px 1px 3px rgb(77, 76, 76);
  --boxShadowHover: 3px 1px 5px #4e4c4c;
  --textShadow: 1px 1px 5px #4e4c4c;
}
html {
  background: var(--mainGradient);
  background-size: cover;
}
body {
  background: var(--mainGradient);
  margin: 0;
  background-repeat: no-repeat;
}
h1 {
  font-size: 42px;
  text-align: center;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}

.button {
  position: relative;
  width: 130px;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  color: black;
  background-color: white;
  font-size: 26px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 2px 2px 2px var(--boxShadow);
}
.button:hover {
  color: white;
  background-color: var(--lightBlueAccent);
  cursor: pointer;
  box-shadow: 3px 3px 3px var(--boxShadowHover);
}
input {
  border-radius: 4px;
}

input:focus {
  outline: none;
}

/*Navbar*/
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(35, 35, 35);
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: flex-start;
  height: 79px;
  margin: 0;
}

.nav-icon {
  list-style: none;
  font-size: 50px;
  top: 24px;
}

.material-icons {
  position: relative;
  cursor: pointer;
  transition: transform 100ms;
}
.material-icons:hover {
  transform: scale(1.1);
}
.nav-item {
  list-style: none;
  text-align: center;
  padding: 0px 20px;
  height: 79px;
}
.nav-item:hover {
  background: rgb(60, 60, 60);
}
.nav-item-text {
  transition: transform 50ms;
  font-size: 25px;
  position: relative;
  font-weight: bolder;
}
.nav-item:hover .nav-item-text {
  background-image: var(--peachGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-item:hover .nav-text-active {
  color: white;
  background-image: none;
  -webkit-text-fill-color: white;
}

.nav-item:hover .nav-item-text {
  transform: translateY(-5px);
  transition: transform 50ms;
}
.nav-text-active {
  color: var(--midAccent);
  transition: color 50ms;
}
.nav-active:hover {
  color: white;
  background: var(--lightBlueAccent);
}

.login-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 79px;
  margin: 0;
}
.login-item {
  list-style: none;
  text-align: center;
  padding: 0px 5px;
  height: 79px;
  transition: all 80ms;
}
.login-text {
  font-size: 20px;
  padding: 5px 8px;
  transition: all 80ms;
  border-radius: 15px;
}

.login-account:hover {
  background: rgb(60, 60, 60);
}
.create-account {
  background: var(--peachGradient);
  color: black;
}
.create-account:hover {
  color: white;
  border-radius: 12px;
  transform: scale(1.07);
}
.my-account {
  opacity: 1;
}
.my-account-icon {
  border-radius: 50%;
}

/*--------------------------------*/

.headingBar {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: var(--lightBlueAccent);
  top: 0;
}
.pageHeading {
  font-size: 40px;
  font-family: Oswald;
  letter-spacing: 2px;
}
.pageHeading {
  font-size: 40px;
  font-family: Oswald;
  letter-spacing: 2px;
  position: relative;
  padding: 20px 50px 10px 50px;
  text-align: left;
}

/*config page*/

.largeBox {
  position: relative;
  width: 47vw;
  min-height: 87vh;
  height: auto;
  border-radius: 10px;
  margin: 3vh 2vw;
  transition: all 100ms;
}
.largeBox:hover {
  opacity: 1;
}
.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}
.sectionHeading {
  font-size: 35px;
  font-family: Oswald;
  letter-spacing: 2px;
  margin: 0 5%;
  align-self: center;
  justify-self: center;
  width: auto;
  height: 70px;
}
.sectionHeading::after {
  content: "";
  position: relative;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  top: 0px;
  display: inline-block;
  opacity: 0.7;
}
.configSection {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

/*---------CREATE NEW BOX-------------*/

.createNewConfigBox {
  transition: opacity 200ms;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--LowerOpacityWhite);
  justify-self: flex-end;
  transition: width 80ms;
}
.createNewConfigBox:hover {
  cursor: pointer;
  background: var(--higherOpacityWhite);
  width: 50vw;
}
.createNewConfigClickable {
  cursor: pointer;
  width: 50%;
  height: 50%;
  transition: transform 100ms;
}
.createNewConfigClickable:hover {
  transform: scale(1.04);
}
.createNewConfigText {
  font-size: 140%;
  position: relative;
  top: 10px;
  color: #ffffff;
}
.createNewConfigIcon {
  font-size: 200px;
  font-weight: 00;
  position: relative;
  top: -20px;
}

.invalidCredentials {
  color: rgb(190, 0, 0);
  font-size: 28px;
  position: relative;
  word-wrap: normal;
  font-weight: bolder;
}

/*------------PRECONFIGURED BOX---------------*/
.preConfiguredSection {
  background-color: var(--LowerOpacityWhite);
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  transition: width 80ms;
}
.preConfiguredSection:hover {
  background: var(--higherOpacityWhite);
  width: 50vw;
}
.emptyText {
  align-self: center;
  font-size: 40px;
  position: relative;
  top: 30vh;
  width: 400px;
  text-align: center;
  color: white;
}

.preConfiguredCard {
  position: relative;
  margin: 2% 6%;
  width: 88%;
  border-radius: 10px 10px 5px 5px;
  background-color: var(--higherOpacityWhite);
  box-shadow: var(--boxShadow);
  opacity: 0;
  transition: opacity 250ms;
}
.preConfiguredBox:hover {
  box-shadow: var(--boxShadowHover);
  cursor: pointer;
}
.pcHeaderWrapper {
  background: var(--peachGradient);
  border-radius: 10px 10px 0 0;
  padding-bottom: 4px;
}
.preConfiguredHeaderBox {
  position: relative;
  height: 20%;
  align-self: flex-start;
  justify-content: space-between;
  background: white;
  border-radius: 10px 10px 0 0;
  background: var(--midAccent);
  display: flex;
  flex-direction: row;
  border: 2px;
  border-image: var(--peachGradient);
}

.pcHeaderBox-item {
  padding: 10px;
  transition: all 100ms;
}
.preConfiguredTitle {
  justify-self: flex-start;
  position: relative;
  font-size: 28px;
  height: 70%;
}
.preConfiguredUpdate {
  color: rgb(255, 255, 255, 0.7);
  /* justify-self: center; */
  align-self: flex-start;
  font-size: 17px;
  height: 70%;
  position: relative;
  top: 5px;
}
.preConfiguredUpdate:hover {
  color: rgba(255, 255, 255, 1);
  cursor: default;
}
.preConfiguredIconsSection {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.preConfiguredIcon {
  margin: 1px 4px;
  transition: all 100ms;
}
#preConfiguredIcon:hover {
  background-image: var(--peachGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favourite-icon:hover {
  color: rgb(255, 251, 0);
}
.favourited {
  color: yellow
}
#preConfigured-delete:hover {
  color: rgba(251, 30, 30, 0.757);
}
.settings-icon:hover {
  transform: rotate(20deg);
}

.refresh-icon:hover {
  transform: rotate(30deg);
}

.preConfiguredBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--high);
}
.split-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* align-items: center; */
}
.pcDetails {
  align-self: flex-start;
  width: 65%;
}
.detail-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
  text-shadow: var(--textShadow);
}
.detailIcon {
  padding: 10px 0px 5px 10px;
}
.cloudIcon:hover {
  color: #00c3ff;
}
.locationIcon:hover {
  color: rgba(251, 30, 30, 0.757);
}
.lockIcon:hover {
  color: rgb(226, 154, 0);
}
.tagIcon:hover {
  color: #ff9472;
}
.detailField {
  padding: 10px 15px;
  text-align: justify;
  margin-left: 0;
  width: 100px;
  min-width: 100px;
}
.detailChild::after {
  content: ":";
}
.detailText {
  margin: 0 5px 8px;
  padding: 10px 15px;
  text-align: left;
  width: 200px;
}
.detailText-small {
  font-size: 13px;
  text-align: left;
  min-width: 200px;
  padding: 10px 15px;
}
.divider {
  position: relative;
  width: 3px;
  height: 150px;
  background: white;
  border-radius: 3px;
  top: 0;
  left: -15px;
}

.pc-right-split {
  width: 35%;
}
.right-split-item {
  margin: 0px 8px;
}

.deviceCountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  background: var(--LowerOpacityWhite);
  border-radius: 8px;
  width: 60%;
  position: relative;
  left: 50px;
  align-self: center;
}
.deviceCountContainer:hover {
  cursor: pointer;
  background: var(--lightBlueAccentHover);
}
.deviceCount-item {
  transition: transform 120ms;
}
.deviceCountContainer:hover .deviceCount-item {
  transform: scale(1.1);
}
.deviceCountNumber {
  font-size: 30px;
}
.deviceCountText {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 10px;
}
.deviceCount-results {
  position: relative;
  left: 10px;
  transition: transform 100ms;
}
.chevron-icon {
  opacity: 0;
  transition: opacity 100ms;
}
.deviceCountContainer:hover .deviceCount-results {
  transform: translateX(-10px);
}
.deviceCountContainer:hover .chevron-icon {
  opacity: 1;
}

/*-----------INPUT SECTION---------------*/
.configInputSection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: none;
  background: var(--LowerOpacityWhite);
  opacity: 0.5;
  justify-self: flex-start;
  transition: width 80ms;
  width: 47vw;
}
.configInputSection:hover {
  width: 50vw;
  transition: width 80ms;
  background: var(--higherOpacityWhite);
}
.indivConfigInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  width: 400px;
  margin: 0px 20px;
  align-items: center;
  width: 400px;
  padding: 20px 5px;
  transition: box-shadow 75ms;
}
.confHeader {
  letter-spacing: 1px;
  position: relative;
  text-align: left;
  top: 0px;
  width: 200px;
}
.confHeader::after {
  content: ":";
}

.configInput {
  position: relative;
  width: 120px;
  height: 30px;
  padding: 15px 2px;
  font-size: 18px;
}
.formDivider {
  position: relative;
  width: 80%;
  height: 2px;
  background: var(--midAccentHover);
  margin: 15px;
  left: 10%;
}
.formButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0, 15px 0 25px;
}
.formBtn {
  color: white;
  position: relative;
  text-align: center;
  opacity: 0.75;
  transform: scale(1.5);
  transition: all 120ms;
  margin: 0 10px;
}
.formBtn:hover {
  opacity: 0.95;
  transform: scale(1.6);
}
.submitBtn:hover {
  color: white;
}

.cancelBtn:hover {
  color: rgba(251, 30, 30, 0.757);
}
/*slider*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin: 0 35px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--peachGradient);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
/*


/*devices page*/

/**/

.devicePageFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.configListContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vw;
  height: 99%;
  background: var(--LowerOpacityWhite);
  margin: 5px;
  border-radius: 4px;
}
.configListItem {
  margin: 5px 8px;;
  width: auto;
}
.configListHeaderSection {
  background: none;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.headerText {
  font-size: 30px;
  margin: 0px 10px;
  align-self: center;
  justify-self:center;
}
.headerIconsSection {
  display: flex;
  justify-self: flex-end;  
}
.headerIcon {
  margin: 0px 3px;
}
.configListEntry {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 150ms;
  opacity: 0;
}
.inactiveConfig {
  background: var(--higherOpacityWhite);
}
.inactiveConfig:hover {
  background: rgba(255, 255, 255, 0.85);
}
.inactiveConfig:hover .entryTitle {
  color: black;
}
.activeConfig {
  background: var(--midAccent);
}
.activeConfig:hover {
  background: var(--midAccentHover);
}
.configListEntry:hover {
  cursor: pointer;
}
.configListEntry:hover .entryTitle {
  transform: translateX(25px);
}
.entry-chevron-icon {
  color: white;
}
.configListEntry:hover .chevron-icon {
  opacity: 1;
  transition-delay: 150ms;
}
.inactiveConfig:hover .chevron-icon {
  color: black;
}
.entryTitle {
  font-size: 25px;
  color: white;
  transition: all 150ms;
  text-align: left;
  transform: translateX(45px);
}

.entry-chevron-icon {
  transform: scale(1.3);
  transition: all 100ms;
  margin: 0 30px;
}

.addConfigRedirect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createNewConfigText-Devices {
  font-size: 30px;
  position: relative;
  top: 10px;
  color: #ffffff;
  width: 100px;
}

.deviceListSection {
  background: #ffffff30;
  position: relative;
  width: 73vw;
  margin: 5px;
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.searchSection {
  position: relative;
  height: 6%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}
.searchElement {
  padding: 0 10px;
}

.searchBox {
  position: relative;
  width: 150px;
  height: 40px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.searchToolTipText {
  position: absolute;
  opacity: 0;
  background: rgb(32, 29, 29);
  color: white;
  border-radius: 5px;
  transition: opacity;
  display: inline;
  transition: opacity 500ms;
  transition-delay: 400ms;
  width: 150px;
  height: 40px;
  text-align: center;
  display: none;
}
.tooltip:hover + .searchToolTipText {
  display: inline;
  opacity: 1;
}
.searchBtn {
  font-size: 50px;
}

.tooltip:hover + .searchToolTipText {
  display: inline;
  opacity: 0.7;
}
.searchBtn {
  font-size: 50px;
}

.deviceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.control {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(56, 56, 56);
  margin: 20px 25px 50px 25px;
  width: 230px;
  height: 230px;
  cursor: pointer;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 150ms ease-out;
}
.control:hover{
  transform: scale(1.04)
}
.typeDecorTemplate {
  width: 100%;
  height: 4%;
  position: relative;
  top: 0%;
  background: yellow;
  border-radius: 5px 5px 0px 0px;
}
.control
.controlLabel {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  align-self: center;
  color: black;
  justify-self: center;
}
.controlImage {
  top: 30%;
  width: 40%;
  height: 40%;
  left: 30%;
  background-color: grey;
}

.viewController {
  width: 400px;
}

.controlFooterSection{
  justify-self: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.controlFooterItem{
  max-width: 50px;
  margin: 10px;
}
.deviceType{
  font-size: 12px;

}

/*single device page*/
/*edit page*/
