:root{
    background: var(--peachGradient);
    font-size: 16px;
    color: white;
}
body {
    background: var(--peachGradient) !important;
}
.pageNotFoundContainer{
    height: 60vh;
    width: 100%;
    aspect-ratio: 1;
    margin-top: 10vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.327), rgba(255, 255, 255, 0))
}
.pageNotFoundContainer > * {
    margin: 0 0 0 15vw;
    text-align: left;
    padding-left: 15px;

}
.pageNotFoundContainer > h1{
    font-size: 14em;
    text-shadow: -8px -6px var(--midAccent);

}
.pageNotFoundContainer > h2{
    font-size: 5em;
    width: 55%;
    text-shadow: -2px -2px var(--midAccentHover)
    
}

.pageNotFoundContainer > a{
    font-size: 2em;
    text-decoration: none;
    color: white;
}
.pageNotFoundContainer > a > span{
  
}

@media screen and (min-width: 2000px){
    .pageNotFoundContainer{
        height: 60vh
    }
    .pageNotFoundContainer > * {
        padding-block: 2vh;
    }
    .pageNotFoundContainer > h2{
        width: 45%
    }
}
@media screen and (max-width: 1400px){
    .pageNotFoundContainer > h2{
        width: 75%;
    }
    
}
@media screen and (max-width: 1130px){
    .pageNotFoundContainer{
        height: 50vh
    }
    .pageNotFoundContainer > * {
        padding-block: 3vh;
    }
    .pageNotFoundContainer > h1 {
        font-size: 12em;
    }
    .pageNotFoundContainer > h2{
        width: 75%;
        font-size: 3.5em;
    }
    
}

@media screen and (max-width: 600px) {
    .pageNotFoundContainer{
        height: 50vh
    }
    .pageNotFoundContainer > * {
        padding-block: 2.5vh;
    }
    .pageNotFoundContainer > h1 {
        top: 10vh;
        font-size: 8em;
    }
    .pageNotFoundContainer > h2{
        width: 80%;
        font-size: 2.5em;
    }
    
    
}