.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/*homepage*/
.homeBody {
  background: var(--darkHome) !important;
  /* height: 260%; */
}
.homeNav {
  background: #fff;
  position: static;
}
.mainFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: auto; */
  justify-content: space-evenly;
  align-items: center;
}
.mainFlex > * {
  margin: 5% 0;
}
.openingImage {
  position: relative;
  width: 100%;
  height: 83%;
  border-radius: 5px;
  transition: all 300ms;
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.openingImage:hover {
  transform: scale(1.0005);
}
.OIFlexItem {
  margin: auto;
  width: 80%;
}

.mainContainer {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.aboutHeadingContainer {
  position: relative;
  justify-self: flex-start;
  height: auto;
  max-width: 650px;
  min-height: 500px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.openingImageHeading {
  font-size: 65px;
  font-family: "Oswald";
  position: relative;
  display: block;
  background: var(--homeStep);
  border-radius: 7px;
  text-align: left;
  width: auto;
  top: -6rem;
  padding: 20px;
}
.openingImageHeading > .peachGradientText {
  text-shadow: 4px 4px rgb(255, 255, 255) !important;
}
.demoControlsFlex {
  /* background: rgba(255,255,255, 0.8); */
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 34%;
  width: 86%;
  min-height: 150px;
  min-width: 560px;
  opacity: 1;
  margin: -88% 0 0 50%;
  border-radius: 6px;
  z-index: 2;
}
.demoControl {
  width: 29%;
  height: 90%;
  background: white;
  color: black;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  box-shadow: -3px -3px var(--midAccent);
}
/* shares the styles of device controls elsewhere in the app*/
.demoControl > .controlLabel {
  font-size: 18px !important;
  font-weight: 500;
  margin: 5px 0 0 0;
}
.demoControl > .controlStatusIconCont {
  width: 46% !important;
  height: 46% !important;
}
.demoControl > .status-icon {
  transform: scale((2));
}
.demoControl > .material-icons {
  margin: 1px 1px;
  font-size: 12px !important;
}
.tryMeContainer {
  position: absolute;
  width: 180px;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 67%;
  left: 62%;
  opacity: 0;
  z-index: 3;
}
.tryMePrompt {
  font-size: 30px;
  color: white;
  font-family: "Satisfy";
  position: relative;
  top: -5%;
  animation-name: promptLoop;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  transform-origin: center;
  transition: transform 100ms ease-out;
}
@keyframes promptLoop {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.13);
  }
  10% {
    transform: scale(1);
  }
  60% {
    transform: rotate(0deg);
  }
  62% {
    transform: translateX(-6px);
  }
  64% {
    transform: translateX(3px);
  }
  66% {
    transform: translateX(0);
  }
}
.tryMeContainer:hover > .material-icons {
  transform: rotate(30deg);
}
.promptChevron {
  position: absolute;
  margin: -10% 0 0 16%;
  font-size: 45px !important;
  transform: rotate(30deg);
  text-shadow: var(--textShadow);
}
/*DEMO DESIGN Media queries*/
@media screen and (max-width: 1750px) {
  .demoControlsFlex {
    margin: -45% 0 0 0;
  }
}
/* @media screen and (max-width: 1450px){
    .demoControlsFlex{
      min-width: 410px;
      min-height: 110px;
      max-height: 110px;
      flex-wrap: wrap;
    }
    .demoControl > .controlStatusIconCont{
      justify-self: center;
      align-self: center;
      bottom: 20%;
    }
    .demoControl > .status-icon{
      font-size: 20px !important;
    }
    .demoControl > .controlFooterSection{
      display: none;
    }
  } */

.stepFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  position: relative;
  left: 10%;
  top: 15%;
}

.step {
  display: none;
  flex-direction: row;
  width: 80%;
  height: 150px;
  margin: 10px 10% 10px 0;
  background: var(--homeStep);
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.5);
}
.step:hover {
  background: var(--higherOpacityWhite);
}
.stepItem {
  margin: 0px 50px;
}
.stepNumber {
  align-self: center;
  font-size: 45px;
  font-family: "Asap";
}
.stepIcon {
  transform-origin: center;
  position: relative;
  margin: 0px 7px;
}
.stepIconFont {
  font-size: 130px !important;
}

.stepIcon:hover {
  cursor: default;
}
.hoverable:hover {
  cursor: pointer;
}
.stepText {
  font-size: 37px;
  align-self: center;
  margin: 0px 10px 0px 20px;
  font-family: "Open sans";
}
.step * {
  pointer-events: none;
}

.createAccountStep {
  position: relative;
  left: -55px;
}
.addNetworkStep {
}

.controlDevicesStep {
  position: relative;
  left: 55px;
}
.neonLights {
  border: solid 3px #5cdcff;
  box-shadow: 0 0 1em #9ce9ff, 0 0 1.5em #3bd5ff, 0 0 2.5em #00c6ff, 0 0 3em #479dff, 0 0 4em #006eb8, 0 0 6em #015a95,
    0 0 0.2em #77e2ff inset;
  transition: box-shadow 300ms linear;
}

.neonLights:hover {
  background: var(--homeStep);
  box-shadow: 0 0 1.2em #9ce9ff, 0 0 2.5em #00c6ff, 0 0 4em #00c6ff, 0 0 0.7em #9ce9ff inset;
}

.arrowContainer {
  text-align: center;
  display: block;
  margin: auto;
  height: 10%;
  top: -5%;
}
.scrollDownBtn {
  font-size: 75px !important;
  padding-bottom: 20px;
}
#scroll1 {
  opacity: 0;
}

.aboutBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 37rem;
  color: white;
  opacity: 1;
  background-image: url("./../images/about/lighting2.png");
  top: 11%;
}
.aboutBannerGray {
  background-image: url(./../images/about/lighting2gray.png) !important;
}
.aboutBannerHeading {
  font-size: 70px;
  font-family: "oswald";
  align-self: center;
  text-shadow: -4px -4px var(--midAccent);
  opacity: 0;
}
.aboutContent {
  font-family: "open sans";
  font-size: 29px;
  position: relative;
  top: -4rem;
  width: 60%;
  text-align: justify;
  opacity: 0;
}
.belowBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 100%;
  position: relative;
}

.featuresSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: -3% auto auto auto;
  padding: 10% 0;
  width: 95%;
  height: 16rem;
  border-radius: 4px;
  opacity: 0;
}
.featuresHeading {
  font-family: "oswald";
  font-size: 65px;
  margin-top: 10px;
  margin-bottom: auto;
}
.featBtn {
  font-size: 80px !important;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}
.featNextBtn {
  margin-left: 90%;
  margin-right: 0;
  text-shadow: -3px -4px var(--midAccent);
}
.featPrevBtn {
  margin-left: 0;
  margin-right: 90%;
  text-shadow: 3px -4px var(--midAccent);
}
.feature {
  display: none;
  flex-direction: row;
  width: 80%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  transition: transform 75ms;
  margin: auto;
  opacity: 0;
  transition: opacity 300ms;
}
.inactiveFeature {
}
.activeFeature {
}
.feature:hover {
  transform: scale(1.01);
}
.featureImageContainer {
  width: 45%;
  height: 80%;
  min-height: 80%;
  max-height: 80%;
  justify-self: flex-start;
}
.featureImage {
  border-radius: 8px;
  width: 100%;
  height: 80%;
  display: block;
  overflow: hidden;
  margin: auto;
}
.featureTextFlex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  height: 100%;
  margin: 0 auto auto auto;
}
.featureTextFlex:only-child {
  width: 80%;
  margin: auto 0 auto auto;
}

.featureTextFlex > h2 {
  align-text: left;
  font-size: 60px;
  font-family: "oswald";
  /* text-shadow: -3px -3px var(--midAccent); */
  padding: 00px 20px 10px 10%;
}
.featureTextFlex:only-child > h2 {
  font-size: 75px;
  padding: 20px 20px 10px 10%;
  z-index: 2;
}

.featureTextFlex > p {
  text-align: justify;
  width: 75%;
  margin-top: -13%;
  font-size: 25px;
  font-family: "open sans";
  background: var(--LowerOpacityWhite);
  padding: 50px 30px 40px 30px;
  box-shadow: -10px -10px 0 0 rgba(236, 231, 231, 0.192);
  border-radius: 2px;
}
.featureTextFlex:only-child > p {
  margin-top: -10%;
  font-size: 28px;
  z-index: 0;
}

.multiFeatureDesign {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  height: auto;
  background: transparent;
  margin: 0px 3%;
}
.multiFeatureDesign > .configListEntry {
  opacity: 1;
  height: 28%;
}

.demoListEntry:hover {
  pointer: cursor;
  transform: scale(1.05);
}
.demoListEntry:hover > .chevron-icon {
  opacity: 1;
}
.demo-chevron-icon {
  position: relative;
  left: 45px;
}
.inactiveDemo {
  background: rgba(255, 255, 255);
}
.inactiveDemo > p {
  color: black !important;
  opacity: 1;
}
.inactiveDemo > .chevron-icon {
  color: black;
}

.non-fav {
  color: black;
}

.activeDemo {
  background: var(--midAccent);
}
.demoFavourite {
  text-shadow: none;
  justify-self: left;
  align-items: flex-start;
  margin-left: 10px;
}
.demoTitle {
  font-size: 25px;
  color: white;
  transition: all 150ms;
  text-align: left;
  transform: translateX(45px);
}
#demo1 {
  position: relative;
  top: 5%;
  left: -5%;
}
#demo2 {
  position: relative;
}

#demo3 {
  position: relative;
  top: -5%;
  left: 5%;
}

.pollingImage {
  filter: blur(2px);
}
.belowFeats {
  position: relative;
  margin: auto;
}
.largeFooter {
  position: relative;
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  /* min-height: 70%;  */
  background-image: url("./../images/about/signupbackground.png");
  margin: auto;
}

.linksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(0, 0, 0, 0.871);
  height: auto;
  margin: auto;
  font-family: "open sans";
  color: white;
  opacity: 1;
}
.linksSection > h1 {
  font-size: 45px;
  text-align: center;
  margin: 3% auto;
}
.linksSection > p {
  width: 70%;
  font-size: 20px;
  text-align: center;
  margin: 1%;
}
.linksFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.linksFlex > a {
  margin: 5% 3%;
  font-size: 75px;
}

.skew {
  transform: rotate(-2deg);
  transform: skewY(2deg);
}
.offsetSkew {
  transform: rotate(2deg);
  transform: skewY(-2deg);
}
