/*--------------------------------*/
/*config page*/



.largeBox {
  position: relative;
  width: 47vw;
  height: auto;
  border-radius: 5px;
  margin: 2vh 1.5vw;
  transition: all 100ms;
}
.largeBox:hover {
  opacity: 1;
}
.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
} 
 .headingContainer > h2 {
  font-size: 35px;
  font-family: 'asap';
  font-weight: bolder;
  align-self: center;
  justify-self: center;
  width: auto;
  height: 70px;
  text-decoration: none;
} 

.configSection {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: 78vh;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

/*---------CREATE NEW BOX-------------*/

.createNewConfigBox {
  transition: opacity 200ms;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  justify-self: flex-end;
  transition: width 80ms;
  width: 55vw;
  min-height: 78vh
}
.createNewConfigBox:hover {
  cursor: pointer;
  background: var(--LowerOpacityWhite);
}
.createNewConfigClickable {
  cursor: pointer;
  width: 50%;
  height: 50%;
  transition: transform 100ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createNewConfigClickable:hover {
  transform: scale(1.04);
}
.createNewConfigText {
  font-size: 2vw;
  position: relative;
  top: 1vh;
  color: #ffffff;
}
.createNewConfigIcon {
  font-size: 10vw !important;
  position: relative;
  top: -2vh;
}

.invalidCredentials {
  color: rgb(190, 0, 0);
  font-size: 28px;
  position: relative;
  word-wrap: normal;
  font-weight: bolder;
}

/*------------PRECONFIGURED BOX---------------*/
.preConfiguredSection {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  transition: width 80ms;
  width: 45vw;
}
.noConfigCardError{
  font-size: 25px;
  margin: auto;
}
.noConfigCardError > * {
  color: white;
  padding: 5px;
}
.preConfiguredCard {
  position: relative;
  margin: 2vh 6vw;
  width: 88%;
  border-radius: 6px 6px 3px 3px;
  background-color: var(--higherOpacityWhite);
  box-shadow: var(--boxShadow);
  opacity: 0;
  transition: opacity 250ms;
}
.preConfiguredBox:hover {
  box-shadow: var(--boxShadowHover);
  cursor: pointer;
}
.pcHeaderWrapper {
  background: var(--peachGradient);
  border-radius: 6px 6px 0 0;
  padding-bottom: 4px;
}
.preConfiguredHeaderBox {
  position: relative;
  align-self: flex-start;
  justify-content: space-between;
  background: white;
  border-radius: 6px 6px 0 0;
  background: var(--midAccent);
  display: flex;
  flex-direction: row;
  border: 2px;
  border-image: var(--peachGradient);
}

.pcHeaderBox-item {
  padding: 15px 10px;
  transition: all 100ms;
  justify-self: flex-start;
}
.preConfiguredTitle {
  justify-self: flex-start;
  position: relative;
  font-size: 1.6vw;
  height: 70%;
  min-width: 120px;
}
.preConfiguredUpdate {
  color: rgb(255, 255, 255, 0.7);
  /* justify-self: center; */
  align-self: flex-start;
  font-size: 1vw;
  height: 70%;
  position: relative;
  top: 5px;
}
.preConfiguredUpdate:hover {
  color: rgba(255, 255, 255, 1);
  cursor: default;
}
.preConfiguredIconsSection {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.preConfiguredIcon {
  margin: 1px 4px;
  transition: all 100ms;
  
}

.preConfiguredIcon > .material-icons{
  font-size: 1.4vw !important;
}
#preConfiguredIcon:hover {
  background-image: var(--peachGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#preConfigured-delete:hover {
  color: rgba(251, 30, 30, 0.757);
}
.settings-icon:hover {
  transform: rotate(20deg);
}

.refresh-icon:hover {
  transform: rotate(30deg);
}

.preConfiguredBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--high);
}
.split-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* align-items: center; */
}
.pcDetails {
  align-self: flex-start;
  width: 65%;
}
.detail-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vh 0px 0.5vh 0px;
  text-shadow: var(--textShadow);
}
.detailIcon {
  padding: 10px 25px 10px 20px;
}
.cloudIcon:hover {
  color: #00c3ff;
}
.locationIcon:hover {
  color: rgba(251, 30, 30, 0.757);
}
.lockIcon:hover {
  color: rgb(226, 154, 0);
}
.tagIcon:hover {
  color: #ff9472;
}
.detailField {
  padding: 1vh 1.5vw;
  text-align: justify;
  margin-left: 0;
  width: 5vw;;
  font-size: 1.2vw;
}
.detailChild::after {
  content: ":";
}
.detailText {
  padding: 1vh 1.5vw;
  text-align: left;
  width: 200px;
  font-size: 1.2vw;
}
.detailText-small {
  font-size: 0.5vw;;
  text-align: left;
  min-width: 200px;
  padding: 1vh 1.5vw;

}


.pc-right-split {
    width: 35%;
  }
  .right-split-item {
    margin: 0px 8px;
  }
  
  .devicesButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background: var(--LowerOpacityWhite);
    border-radius: 6px;
    width: 8vw;
    position: relative;
    left: 3vw;
    align-self: center;
  }
  .devicesButton:hover {
    cursor: pointer;
    background: var(--lightBlueAccentHover);
  }
  .deviceCount-item {
    transition: transform 120ms;
  }
  .devicesButton:hover .deviceCount-item {
    transform: scale(1.1);
  }
  
  .deviceCountText {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 25px;
    font-size: 1.5vw;
  }
  .deviceCount-results {
    position: relative;
    left: 10px;
    transition: transform 100ms;
  }
  .chevron-icon {
    opacity: 0;
    transition: opacity 100ms;
  }
  .devicesButton:hover .deviceCount-results {
    transform: translateX(-10px);
  }
  .devicesButton:hover .chevron-icon {
    opacity: 1;
  }
  
  /*-----------INPUT SECTION---------------*/
  .configInputSection {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: none;
    opacity: 0.5;
    justify-self: flex-start;
    transition: width 80ms;
    width: 55vw;
  }
  .configInputSection:hover {
    transition: width 80ms;
  }
  .indivConfigInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width: 400px;
    margin: 0px 20px;
    align-items: center;
    width: 400px;
    padding: 10px 5px;
    transition: box-shadow 75ms;
  }
  .indivConfigInput > h2 {
    letter-spacing: 1px;
    position: relative;
    text-align: left;
    top: 0px;
    width: 200px;
  }
 
  
  .indivConfigInput > input {
    position: relative;
    width: 120px;
    height: 30px;
    padding: 15px 2px;
    font-size: 18px;
  }
  .formDivider {
    position: relative;
    width: 80%;
    height: 2px;
    background: var(--midAccentHover);
    margin: 15px;
    left: 10%;
  }
  .formButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0, 15px 0 25px;
  }
  .formBtn {
    color: white;
    position: relative;
    text-align: center;
    opacity: 0.75;
    transform: scale(1.5);
    transition: all 120ms;
    margin: 0 10px;
  }
  .formBtn:hover {
    opacity: 0.95;
    transform: scale(1.6);
  }
  .submitBtn:hover {
    color: white;
  }
  
  .cancelBtn:hover {
    color: rgba(251, 30, 30, 0.757);
  }
  /*slider*/
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0 35px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background: var(--peachGradient);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  /*
  