.docs {
  background: white !important;
}

.documentFlex {
  display: flex;
  flex-direction: column;
}

.documentFlex > div {
  margin: 0 auto 0 5%;
}

.documentFlex > div > * {
  color: black;
  text-align: left;
}
