.solisPortal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.solisAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 35%;
    margin: auto auto;
    border-radius: 4px;
    opacity: 1;
  }
  
  .solisItem {
    width: 90%;
    min-height: 500px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
 
  .solisItem > h2 {
    font-family: "oswald";
    color: rgb(71, 64, 64);
    font-size: 50px;
  }
  .solisItem > .button {
    background: var(--peachGradient);
  }
  
  .solisItem > * {
    margin: 3% auto;
  }
  .solisItem > h4 {
    color: rgb(255, 255, 255);
    margin: 0 auto 0 20%;
  }
  .solisItem > .forgotPassword {
    opacity: 0;
    display: none;
    color: rgb(255, 255, 255);
    margin: 0 auto 0 20%;
    font-size: 18px;
  }
  .solisItem > .forgotPassword:hover {
    color: var(--midAccent);
  }
  .solisItem > input {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 5px;
    width: 70%;
  }
  .solisItem > input:focus {
    border: 2px solid var(--midAccent);
  }
  .solisItem > input:hover {
    border: 2px solid var(--midAccentHover);
  }
  .solisItem > .solisItemBtnSection > .button {
    border: 2px solid black !important;
  }
  .solisItemBtnSection {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .solisItemBtnSection > a {
    margin: 2% 10px;
    color: rgb(255, 255, 255);
    font-size: 17px;
  }
  .solisItemBtnSection > a:hover {
    color: var(--midAccent);
  }
  
  .solisItemBtnSection > .button {
    background: var(--peachGradient);
    height: 50%;
    font-size: 25px;
    border-radius: 20px;
    transition: all 100ms;
  }
  .solisItemBtnSection > .button:hover {
    background: white;
    height: 50%;
    border-radius: 10px;
    color: black;
  }